name: cpp tests

on:
  push:
    branches: ["**"]
jobs:
  cpp-ci:
    runs-on: ubuntu-latest
    container: byplayer/cxx-build:v202509.01
    strategy:
      matrix:
        cxx: ["clang++", "g++"]
        cxx_ver: ["17", "20", "23"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: check version
        run: ${{matrix.cxx}} --version
      - name: "build and run unit tests"
        run: |
          cd test/unittest
          make CXX=${{matrix.cxx}} CXX_VER=${{matrix.cxx_ver}} test
