name: cpp tests

on:
  push:
    branches: ["**"]
jobs:
  cpp-ci:
    runs-on:
      container: byplayer/cxx-build:v202509.01
    strategy:
      matrix:
        cxx: ["clang++", "g++"]
        cxx_ver: ["17", "20", "23"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: check version
        run: ${{matrix.cxx}} --version

      - name: Configure with CMake
        run: |
          cmake -S . -B build-${{matrix.cxx}}-${{matrix.cxx_ver}} \
            -DCMAKE_CXX_COMPILER=${{matrix.cxx}} \
            -DCMAKE_CXX_STANDARD=${{matrix.cxx_ver}} \
            -DCMAKE_BUILD_TYPE=Release

      - name: Build and run unit tests
        run: cmake --build build-${{matrix.cxx}}-${{matrix.cxx_ver}} --target run_tests
